body {
    background-image: url("http://img00.deviantart.net/2652/i/2016/019/e/d/crossfire_barkada_webpage_background__by_raidenraidenraiden-d9om04j.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.main {
    margin-top: -10px;
    background-color: white;
}
/* style properties for header tag */
header {
    background-color: #ab5a08;
    height: 70px;
    width: 100%;
    margin: 0px;
    position: fixed;
    padding-top: -10px;
}
/* h1 tag in header */
header h1 {
    margin-top: 20px;
    color: orange;
    font-size: 2em;
    padding-bottom: 10px;
}
/* un-ordered list in nav */
ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    float: left;
    padding-top: 30px;
}
/* anchor tags in tha list */
li a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

a:hover {
    color: gray;
}
/* signup form style properties */
.form {
    margin-top: 50px;
    margin-left: 200px;
}
/* h1 tag in signup form */
.reg {
    margin-top: 150px;
    text-align: center;
    color: orange;
}
/* style for save button */
.save {
    padding-left: 100px;
}
/* for both save and signup button */
#button {
    width: 10em;
    height: 2em;
    color: white;
    background-color: #f2800d;
}
/* style for footer tag */
footer {
    margin-top: 95px;
    height: 60px;
    background-color: #ab5a08;
    margin-bottom: 5px;
}
/* social buttons column in footer */
.social {
    padding-top: 20px;
    padding-left: 100px;
	color: white;
}
/* copyrights column in footer section */
.copy {
    padding-top: 10px;
    color: white;
}
/* terms and condition grid footer section */
.term {
    padding-top: 10px;
    color: white;
}
/* anchor elements in footer section */
.term a {
    text-decoration: none;
    color: white;
}
